body{
  font-family: 'Roboto', sans-serif;
}
.col-sm{
  text-align: center;
}
.col{
  text-align: center;
}
/*Top bar with informations like phone number and email*/
.topBar{
  background-color: #555555;
  display: block;
  padding: 5px 0 5px 0;
}
.infoText{
  margin-left: 7px;
  margin-right: 10px;
}
/* Title Bar with the shopping cart*/
.titleBar{
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
  width: 100%;
  height: 30%;
  margin: 20px 0;
}
.title{
  font-family: 'Rammetto One', cursive;
  width: 75%;
  text-align: center;
}
.shopCart{
  width: 25%;


}
.shopCartText{
}
/*Main image div with the logo*/
.mainImage{
  background-image: url(../images/logo.jpg);
  width: 100%;
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
}
